Praktikum11_Riendra/src/praktikum11_riendra/ArrayKelas.java
praktikum16_nafis_abi_nasuha/
/Praktikum17_Riendra/nbproject/private/
/Praktikum17_Riendra/build/
/Praktikum18_Riendra/nbproject/private/
/Praktikum18_Riendra/build/
/Praktikum19_Riendra/nbproject/private/
/Praktikum19_Riendra/build/
/Praktikum20_Riendra/nbproject/private/
/Praktikum20_Riendra/build/
/Praktikum21_Riendra/nbproject/private/
/Praktikum21_Riendra/build/
